@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    border: none;
}

.container{
    padding: 0 35px;
    max-width: 1210px;
    margin: 0 auto;
}

.button{
    background: #2F80ED;
    border-radius: 9px;
}
    .button:hover{
        cursor: pointer;
    }

.h2-title{
    font-weight: 500;
    font-size: 44px;
    line-height: 48px;
    color: #434343;
}
.p-text{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #757575;
}



.header{
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .navigation{
        display: flex;
        min-width: 543px;
    }
        .navigation-list{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
        }
            .navigation-list-item{

            }
                .navigation-list-item-text{
                    color: #5A5A5A;
                }
                    .navigation-list-item-text:hover{
                        color: #2F80ED;
                    }
    .header-number{

    }
main{

}
    .booking{
        background-image: url(../img/booking-image.png);
        height: 530px;
        width: 1209px;
        border-radius: 9px;
    }
        .booking-name-and-adress{
            padding: 360px 0 0 37px;
        }
            .apart-hotel-h4{
                font-weight: 400;
                font-size: 33px;
                line-height: 36px;
                color: #CFCFCF;
            }
            .SkyPlazaYalta-h1{
                font-weight: 500;
                font-size: 59px;
                line-height: 65px;
                color: #FFFFFF;
            }
            .adress-span{
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #D9D9D9;
            }
        .booking-button{
            margin: 14px 0 0 702px;
            width: 463px;
            height: 81px;
            font-weight: 500;
            font-size: 27px;
            line-height: 33px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
        }
    .About{
        margin-top: 109px;
        display: flex;
        justify-content: space-between;
    }
        .left-side-about{
            width: 854px;
            height: 722px;
        }
            .about-title{
                padding-top: 43px;
                padding-left: 45px;
            }
            .about-text{
                margin-top: 25px;
                padding-left: 45px;
                height: 230px;
            }
            .img-swimming-pool{
                margin-top: 64px;
            }
        .right-side-about{
            text-align: right;
            height: 722px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
            .img-cafe{
                
            }
    .about-v2{
        padding-right: 39px;
    }
        .about-text-v2{
            margin-top: 25px;
            padding-left: 45px;
            font-weight: 500;
            font-size: 20px;
            line-height: 25px;
            color: #757575;
        }
    .number-of-rooms-section{
        margin-top: 125px;
    }
        .catalog-of-rooms{
            display: flex;
            justify-content: space-between;
            margin-top: 43px;
        }
            .item-room{
                display: flex;
                flex-direction: column;
                border-radius: 11px;
                box-shadow: 0px 12.4444px 53.3333px rgba(0, 0, 0, 0.12);
                width: 287px;
                height: 381px;
            }
                .description-item{
                    padding: 20px 28px 0 18px;
                }
                .price-of-room{
                    display: flex;
                    padding: 31px 0px 0 18px;
                }
                    .price-of-room-value{
                        font-weight: 600;
                        font-size: 33px;
                        line-height: 40px;
                        color: #2D9CDB;
                        padding-right: 6px;
                        width: 156px;
                        height: 40px;
                    }
                    .price-of-room-length-div{
                        display: flex;
                        flex-direction: column;
                        justify-content: end;
                    }
                    .price-of-room-length{
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        color: #989898;
                        width: 46px;
                        height: 19px;
                        padding-bottom: 4px;
                    }